:root {
  --bs-primary: #1F6AC1;
  --bs-secondary: #2c5e2c;
  --bs-accent: #f5e6cf;
  --bs-neutral-light: #FFC571;
  --bs-neutral-dark: black;
}

* {
  margin: 0;
}

body {
  padding-top: 4rem;
}

/* MARK: Navbar */
.navbar {
  background-color: var(--bs-accent) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 1rem;
}

.navbar-toggler {
  background-color: var(--bs-neutral-light);
}

.active {
  font-weight: bold;
}

/* buttons */
button {
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-primary:focus,
.btn-primary:active {
  color: var(--bs-neutral-light) !important;
}

.btn-secondary {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-secondary) !important;
}

.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--bs-neutral-dark) !important;
  border-color: var(--bs-neutral-dark) !important;
}

/* Accent text */
h1,
h2,
h3,
.highlight-text {
  color: var(--bs-neutral-dark);
  margin: 1rem;
}

.card {
  max-width: 100%;
}

/* MARK: index pg */
#toAddPg {
  font-weight: bold;
  margin: 2rem auto;
}


table {
  margin: 2rem 0;
}

td,
th {
  text-align: center;
  width: 10%;
  font-size: 12px;
}

thead {
  color: var(--bs-secondary);
}

td:hover {
  background-color: var(--bs-accent);
}

#monthYear {
  margin-left: 2rem;
  width: 15rem;
}

#prev,
#next {
  font-size: 12px;
  padding: 8px;
}

#next {
  margin-right: 2rem;
}

/* MARK: new-trip */
.tripName {
  font-size: 24px;
  width: 17.5rem;
  margin-top: 1.5rem;
}

#createTripBtn {
  width: 17.5rem;
}

.transport-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.container-class {
  padding-bottom: 3rem;
}

/* MARK: new-trip + trip */
label {
  margin: 12px 0;
  margin-right: 8px;
}

input {
  margin: .5rem;
  cursor: pointer;
}

input[type="text"] {
  width: 10rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.travelInfo {
  margin: 2rem 0;
}

.headerInfo {
  background-color: var(--bs-accent);
  padding: 0;
}

.bodyInfo {
  border-color: var(--bs-accent);
}

.duration {
  width: 2.5rem;
}

#createTripBtn {
  margin: 2rem;
  font-weight: bold;
}

/*  MARK: trip pg */
.checkTravelInfo {
  margin: 1rem;
  margin-bottom: 2rem;
  font-size: 24px;
}

.delete {
  color: red;
}

.dateCard {
  margin: 1rem 1.5rem;
}

.activityCol {
  background-color: var(--bs-neutral-light);
  border-color: var(--bs-primary);
  width: 100%; 
}

.card-body-activity {
  background-color: var(--bs-accent);
  padding: 1rem;
  max-height: 756px; 
  overflow-y: auto;
}

.allDates {
  flex-wrap: nowrap;
}

.newActivity, .activityCard {
  font-size: 16px;
}

.activityCard {
  flex: 0 0 auto;
  padding: 3rem 1rem;
}

.activityCardBtn {
  margin: 0 1rem;
}

/* MARK: map */
#map {
  height: 100vh;
  width: auto;
}

/* MARK: media query */
@media (min-width: 900px) {
  .col-md-6 {
    max-width: 100%;
  }

  body {
    padding-top: 6rem;
  }

  .btn-primary {
    font-size: 24px;
  }

  .btn-secondary {
    font-size: 16px;
  }

  .nav-link {
    font-size: 24px;
  }

  #monthYear {
    font-size: 28px;
    margin-left: 5rem;
  }

  td,
  th,
  #prev,
  #next {
    font-size: 16px;
  }

  #prev,
  #next {
    width: 4rem;
  }

  #prev {
    margin-left: 10rem;
  }

  #next {
    margin-right: 2.5rem;
  }

  #createTripBtn {
    width: 20rem;
  }

  label {
    margin-right: 0;
  }
}

@media (min-width: 992px) {

  .btn-primary {
    font-size: 32px;
  }

  .btn-secondary {
    font-size: 20px;
  }

  #monthYear {
    margin-left: 5rem;
    font-size: 32px;
  }

  td,
  th,
  #prev,
  #next {
    font-size: 20px;
  }

  #prev,
  #next {
    width: 5rem;
  }

  #prev {
    margin-left: 20rem;
  }

  #next {
    margin-right: 2.5rem;
  }

  .nav-item {
    padding: 0 2rem;
  }
}