:root {
    --bs-primary: #1F6AC1;  /* Primary Color */
    --bs-secondary: #1C411C; /* Secondary Color */
    --bs-accent: #f5e9cc;    /* Accent Color */
    --bs-neutral-light: #FFC571; /* Neutral Light Color */
    --bs-neutral-dark: black;  /* Neutral Dark Color */
}

* {
  margin: 0;
}

/* Body Background Color */
body {
    color: var(--bs-neutral-dark);
  }
  
  /* Navbar using primary color */
  .navbar {
    background-color: var(--bs-primary);
  }
  
  button {
    color: var(--bs-neutral-light);
    cursor: pointer;
  }

  /* Primary buttons */
  .btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  
  /* Secondary buttons */
  .btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }
  
  /* Accent text */
  h1, h2, h3, .highlight-text {
    color: var(--bs-neutral-dark);
    margin: 1rem;
  }

  #toAddPg {
    font-weight: bold;
    margin: 2rem auto;
  }

  table {
    margin: 2rem 0;
  }

  #prev,
  #next {
    font-size: 20px;
  }
  #prev {
    margin-left: 2rem;
  }
  #next {
    margin-right: 2rem;
  }

  label {
    cursor: pointer;
  }

  input {
   margin: .5rem; 
   cursor: pointer;
  }

  input[type="text"] {
    width: 10rem;
  }

  input[type="checkbox"] {
    width:20px;
    height:20px;
  }

.travelInfo {
    margin-bottom: 2rem;
}

#createTripBtn {
    margin: 2rem;
    font-weight: bold;
}


/* Container for horizontal scroll */
.card-container {
  display: flex;                /* Align cards in a row */
  overflow-x: auto;             /* Enable horizontal scroll */
  white-space: nowrap;          /* Prevent cards from wrapping */
  padding: 10px 0;              /* Optional padding for better appearance */
}

/* Make sure cards are displayed inline */
.card {
  flex: 0 0 auto;               /* Prevent cards from stretching */
  margin-right: 10px;           /* Optional margin between cards */
}
